#ScrollViewWrapper {
    /* padding-top: 300; */
    height: 300px;
    width: 300px;
    overflow-y: scroll;
    background-color: rgb(230, 189, 79);
    border:1px solid black;
    margin: 20px;
    /* display: none; */
}



/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/