<!-- <app-top-bar></app-top-bar> -->
<div class="parent-container">
  <div class="test-container">
    <div class="col-test-item">
      <app-svg-loader></app-svg-loader>
    </div>
    <div class="col-test-item">
      <app-svg-loader></app-svg-loader>
    </div>
  </div>

  <div class="test-container">
    <div class="test-item">
      <div class="extra-margin">
        <svg id="testinger" ></svg>
      </div>
    </div>
    <div class="test-item">
      <app-svg-item-list></app-svg-item-list>
    </div>
  </div>
</div>


<!-- <app-footer-bar></app-footer-bar> -->

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->