#testinger {
    /* padding-top: 300; */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    /* display: none; */
}

#grid2 {
    /* padding-top: 300; */
    width: 100%;
    height: 650px;
    /* display: none; */
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/