<app-top-bar></app-top-bar>




<mat-grid-list cols="2" rowHeight="7:1">
  <mat-grid-tile>
    <app-svg-loader></app-svg-loader>
  </mat-grid-tile>
  <mat-grid-tile>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list id="grid2" cols="2">
  <mat-grid-tile>
    <div id="testinger" >

    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-svg-item-list></app-svg-item-list>
  </mat-grid-tile>

</mat-grid-list>
<!-- <div class="container">
  <router-outlet></router-outlet>
</div> -->

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->