#testinger {
    background-color: white;

    height: 400px;
    width: 600px;
    margin: 20px;
}

.extra-margin {
    margin: 20px;
    background-color: white;
    border:1px solid black;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/