
<input
  type="file"
  class="file-input"
  (change)="onFileSelected($event)"
  #fileUpload
/>

<mat-grid-list id="svgLoaderGrid" cols="2">
  <mat-grid-tile >
    <div class="file-upload">
      {{ fileName || 'No file uploaded yet.' }}
    
      <button
        mat-mini-fab
        color="primary"
        class="upload-btn"
        (click)="fileUpload.click()"
      >
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>      
    <button type="button" (click)="scanSVG()">Scan SVG</button>
  </mat-grid-tile>
</mat-grid-list>
<!-- <div *ngIf="fileName">
  <div class="svg" [innerHTML]="test"></div>
</div> -->
<!-- <div id="testinger" ></div> -->
