/* Global Styles */

body {
  margin: 0;
  height: 100hv;
}

header {
    background-color: #1976d2;
}

header,
footer {
  background-color: #1976d2;
  padding: 20px;
}

header h1,
footer h1,
footer a {
    color: white;
    margin: 0;
}


router-outlet + *  {
  padding: 0 16px;
} */

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}


.parent-container {
  /* display: flex; */
  height: 100hv;
  display: flex;
  flex-direction: column;
  background-color: hsl(327, 61%, 35%);
  /* justify-content: space-around;
  align-items: center;
  border:1px solid black;
  flex-wrap: wrap; */

}

.test-container {
  display: flex;
  background-color: aqua;
  justify-content: space-around;
  align-items: center;
  border:1px solid black;
  flex-wrap: wrap;
  margin: 10px;
}

/* Input */

.col-test-item {
  display: flex;
  flex-direction: column;
  flex-basis: 600px;
  background-color: #1976d2;
  justify-content: center;
  border:1px solid black;
  margin: 10px;
}

.test-item {
  display: flex;
  flex-basis: 300px;
  background-color: rgb(26, 151, 124);
  justify-content: center;
  border:1px solid black;
  margin: 10px;
}

.test-item:nth-of-type(1) {
  flex-grow: 4;
}

.test-item:nth-of-type(2) {
  flex-grow: 1;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/